body{
    background-image: url('octocat_darkwood.webp');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x:center;
    background-position-y: top;
    background-color: black;
}

p{
    font-size: 20px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    background-color: rgb(255, 255, 255, .7);
    text-align: center;
    border-radius: 7px;
}



#main{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

#container1{
    width: 600px;
    height: 400px;
    background-color: rgb(240, 248, 255, .2);
    margin-left: auto;
    border-radius: 30px;
}
#container2{
    width: 200px;
    height: 400px;
    background-color: rgb(240, 248, 255, .2);
    margin-right: auto;
    margin-left: 30px;
    gap: 30px;
    border-radius: 30px;
    backface-visibility: visible;
}

#inputs{
    margin-top: 70%;
}

#input{
    font-size: 15px;
    width: 80%;
    height: 40px;
    opacity: 100%;
    border: 0px;
    border-radius: 5px;
}

#submit{
    background-color: rgb(251, 199, 241);
    width: 80%;
    height: 40px;
    margin-top: 30px;
    opacity: 100%;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
}

#submit:hover{
    background-color: rgb(251, 143, 229);
}

#error{
    display:none;
    opacity: 90%;
    margin-left: 10%;
    text-align: center;
    font-size: 50px;
    color: red;
    margin-top: 50px;
}

.information-div{
    display: flex;
    height: 73%;
}

#informations{
    width: 100%;
}

#user-image{
    width: 230px;
    height: 230px;
    opacity: 100%; 
    margin-top: 4%;
    margin-left: 4%;
    border-radius: 10px;
}

#status{
    display:none;
}

#name{
    font-size: 25px;
    font-weight: bold;

}

#blog{
    font-size: 15px;
}

.align-center{
    display: block;
    margin-right: auto;
    margin-left: auto;
}